@model PracaDomowa_1.Models.Movie

<h1>@Model.Name</h1>

     <div>
                <img src="~/images/@Model.Image" style="height: 15rem; width:20 rem ;" class="rounded"  />
                  </div>

                  <div class="float-child">
            @Model.Description
                  </div>

         </div>
                  <h4> Rating: @Model.Rating </h4>


     </div>